.inventory-container {
    padding: 20px;
    background-color: #F3F3FF; 
    color: #4B4B4B; 
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.inventory-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #4B4B4B; 
    text-align: center;
    font-weight: 600;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #4B4B4B; 
    font-weight: 500;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #D1C4E9; 
    background-color: #fff; 
    color: #4B4B4B; 
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.form-group input:focus, .form-group select:focus {
    border-color: #9575CD; 
    outline: none;
}

.submit-button {
    width: 100%;
    padding: 12px 0;
    background-color: #9575CD; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #7E57C2;
}


.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #D1C4E9; 
    border-radius: 4px;
    color: #4B4B4B; 
    height: 46px;
    padding: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 46px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #4B4B4B; 
    font-size: 16px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #9575CD; 
    color: #fff; 
}


.select2-container--default {
    display: none !important;
}