.content {
    padding: 20px;
    max-height: 100vh; 
    overflow-y: auto; 
}


.product-form-container {
    background-color: #F3F3FF; 
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-form-container h1 {
    text-align: center;
    font-size: 22px;
    color: #4B4B4B; 
    margin-bottom: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #9575CD; 
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select,
.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #D1C4E9; 
    border-radius: 4px;
    background-color: #fff; 
    color: #4B4B4B; 
}

.form-group input[type="date"],
.form-group select {
    font-family: 'Arial', sans-serif;
    padding: 8px;
}

.form-group button.submit-btn {
    background-color: #9575CD; 
    color: #fff; 
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button.submit-btn:hover {
    background-color: #7E57C2;
}

.product-form-container .form-group {
    margin-bottom: 15px;
}

.form-group textarea {
    height: 100px;
    resize: none;
}


.content::-webkit-scrollbar {
    width: 10px;
}

.content::-webkit-scrollbar-track {
    background: #D1C4E9; 
}

.content::-webkit-scrollbar-thumb {
    background-color: #9575CD; 
    border-radius: 10px;
    border: 3px solid #D1C4E9; 
}

.messages {
    margin-bottom: 20px;
}

.alert {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
