/* El contenedor principal que abarca todo el contenido, excepto el sidebar */
.content {
    padding: 20px;
    max-height: 100vh; /* Limita la altura al 100% de la ventana */
    overflow-y: auto; /* Activa el scrollbar para el contenido */
}

/* Contenedor específico del formulario */
.client-form-container {
    background-color: #F3F3FF; /* Fondo lavanda claro */
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.client-form-container h1 {
    text-align: center;
    font-size: 22px;
    color: #4B4B4B; /* Texto gris oscuro */
    margin-bottom: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #4B4B4B; /* Texto gris oscuro para las etiquetas */
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #D1C4E9; /* Borde lavanda suave */
    border-radius: 4px;
    background-color: #fff; /* Fondo blanco */
    color: #4B4B4B; /* Texto gris oscuro */
}

.form-group input[type="date"] {
    font-family: 'Arial', sans-serif;
    padding: 8px;
}

.form-group button.submit-btn {
    background-color: #9575CD; /* Fondo lavanda vibrante */
    color: #fff; /* Texto blanco */
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group button.submit-btn:hover {
    background-color: #7E57C2; /* Fondo morado en hover */
}

.client-form-container .form-group {
    margin-bottom: 15px;
}

.form-group textarea {
    height: 100px;
    resize: none;
}

/* Estilo para el scrollbar */
.content::-webkit-scrollbar {
    width: 10px;
}

.content::-webkit-scrollbar-track {
    background: #E6E6FA; /* Fondo lavanda suave para el track */
}

.content::-webkit-scrollbar-thumb {
    background-color: #B39DDB; /* Thumb morado claro */
    border-radius: 10px;
    border: 3px solid #E6E6FA; /* Borde lavanda suave */
}

.messages {
    margin-bottom: 20px;
}

.alert {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-error {
    color: #a94442; /* Texto rojo oscuro */
    background-color: #f2dede; /* Fondo rojo claro */
    border-color: #ebccd1; /* Borde rojo claro */
}

.alert-success {
    color: #3c763d; /* Texto verde oscuro */
    background-color: #dff0d8; /* Fondo verde claro */
    border-color: #d6e9c6; /* Borde verde suave */
}
